<%= link_to 'Create a new product', new_product_path %>

<h1>Products</h1>

<div>
  <ul> <% @products.each do |p| %>
    <li> Name: <%= link_to (p.name), product_path(p) %> <br><br> Price: <%= p.formatted_price %> dollars <br> <br> Description: <%= p.description %> <br><br><br> </li>
    <% end %>
  </ul>
</div>
